In [9]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [4]:
df = pd.read_csv('data/green_tripdata_2019-01.csv')

In [10]:
engine = create_engine('postgresql://root:root@localhost:5431/de_taxi')

In [30]:
engine.connect()

In [27]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
schemaname != 'information_schema';
"""

pd.read_sql(query, con = engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []

In [28]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [32]:
df.to_sql(name='green_taxi', con = engine, index = False)

918

In [33]:
query = """
SELECT *
FROM green_taxi
LIMIT 5;
"""

pd.read_sql(query, con = engine)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,None,0.3,4.30,2,1,None
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,None,0.3,7.30,2,1,None
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,None,0.3,5.80,1,1,None
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,None,0.3,19.71,1,1,None
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,None,0.3,19.30,2,1,None

In [49]:
df_15 = df[(df['lpep_pickup_datetime'].dt.strftime('%Y-%m-%d') == '2019-01-15')&(df['lpep_dropoff_datetime'].dt.strftime('%Y-%m-%d') == '2019-01-15')]

In [80]:
df_distance = df.groupby(by=df['lpep_dropoff_datetime'].dt.date)['trip_distance'].max()
df_distance.sort_values().tail(1)

lpep_dropoff_datetime
2019-01-15    117.99
Name: trip_distance, dtype: float64

In [86]:
df_01 = df[(df['lpep_pickup_datetime'].dt.strftime('%Y-%m-%d') == '2019-01-01')]

In [87]:
df_01.groupby('passenger_count').count()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
passenger_count,,,,,,,,,,,,,,,,,,,
0,21,21,21,21,21,21,21,21,21,21,21,21,21,0,21,21,21,21,0
1,12415,12415,12415,12415,12415,12415,12415,12415,12415,12415,12415,12415,12415,0,12415,12415,12415,12415,0
2,1282,1282,1282,1282,1282,1282,1282,1282,1282,1282,1282,1282,1282,0,1282,1282,1282,1282,0
3,254,254,254,254,254,254,254,254,254,254,254,254,254,0,254,254,254,254,0
4,129,129,129,129,129,129,129,129,129,129,129,129,129,0,129,129,129,129,0
5,616,616,616,616,616,616,616,616,616,616,616,616,616,0,616,616,616,616,0
6,273,273,273,273,273,273,273,273,273,273,273,273,273,0,273,273,273,273,0

In [88]:
df_zones = pd.read_csv('data/taxi+_zone_lookup.csv')

In [90]:
df_zones[df_zones.Zone == 'Astoria']

   LocationID Borough     Zone service_zone
6           7  Queens  Astoria    Boro Zone

In [103]:
df_astoria = df[df.PULocationID == 7]
df_astoria.sort_values('tip_amount')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
393719,2,2019-01-20 12:21:37,2019-01-20 12:22:02,N,1,7,193,1,0.00,-2.5,0.0,-0.5,-0.66,0.00,NaN,-0.3,-3.96,3,1,NaN
23,2,2019-01-01 00:39:09,2019-01-01 00:42:32,N,1,7,7,1,0.57,4.5,0.5,0.5,0.00,0.00,NaN,0.3,5.80,2,1,NaN
371484,2,2019-01-19 07:17:21,2019-01-19 07:26:47,N,1,7,193,1,1.27,8.0,0.0,0.5,0.00,0.00,NaN,0.3,8.80,2,1,NaN
371443,2,2019-01-19 07:38:34,2019-01-19 07:46:02,N,1,7,129,1,3.01,11.0,0.0,0.5,0.00,0.00,NaN,0.3,11.80,2,1,NaN
371394,2,2019-01-19 07:14:21,2019-01-19 07:21:35,N,1,7,223,1,1.62,7.5,0.0,0.5,0.00,0.00,NaN,0.3,8.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15617,2,2019-01-02 04:17:39,2019-01-02 05:09:07,N,4,7,265,5,17.66,73.5,0.5,0.5,19.16,21.00,NaN,0.3,114.96,1,1,NaN
325386,1,2019-01-17 08:21:52,2019-01-17 08:56:59,N,1,7,265,1,14.30,42.5,0.0,0.5,25.00,18.26,NaN,0.3,86.56,1,1,NaN
403375,2,2019-01-20 22:48:21,2019-01-20 23:18:05,N,1,7,130,1,10.10,30.5,0.5,0.5,25.00,0.00,NaN,0.3,56.80,1,1,NaN
468169,2,2019-01-24 12:58:02,2019-01-24 13:29:59,N,1,7,43,2,7.94,28.5,0.0,0.5,30.00,5.76,NaN,0.3,65.06,1,1,NaN
506162,2,2019-01-26 00:46:06,2019-01-26 00:50:10,N,1,7,146,1,0.92,5.5,0.5,0.5,88.00,0.00,NaN,0.3,94.80,1,1,NaN

In [104]:
df_zones[df_zones.LocationID == 146]

     LocationID Borough                           Zone service_zone
145         146  Queens  Long Island City/Queens Plaza    Boro Zone

In [105]:
df_zones.to_sql(name='zones', con = engine, index = False)

265